# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=atabek
DB_PASSWORD=victus
DB_NAME=travels_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Google Gemini
GEMINI_API_KEY=AIzaSyAjV65pRiQjl_BlnKwRoqrg5jYEWGGToM4

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=atabekabduakimov1806@gmail.com
EMAIL_PASSWORD=atabek_abduakimov_victus
EMAIL_FROM=noreply@cargoai.com

